NODE_ENV=development
PORT=3001
DATABASE_URL=postgresql://fas_user:fas_pass@localhost:5433/fas_db
REDIS_URL=redis://:fas_redis_pass@localhost:6379
BETTER_AUTH_SECRET=<minimo_32_caracteres>
BETTER_AUTH_URL=http://localhost:3001
RESEND_API_KEY=re_xxxx
EMAIL_FROM=noreply@agrosan.cl
DTE_PROVIDER=mock
# DTE_PROVIDER=chilesystems
# DTE_API_URL=https://api.chilesystems.cl
# DTE_API_KEY=xxxx
# DTE_RUT_EMISOR=76.XXX.XXX-X
# DTE_AMBIENTE=certificacion
CORS_ORIGIN=http://localhost:3000
